{{!--
  This partial template relies on frontmatter variables and jsContext injections
  from the checkout.html page. If you use this template on any other page in the theme,
  make sure the same variables and jsContext values are available.
--}}
{{!-- Check if purchase order is required --}}
{{#if gql.data.customer.attributes.purchaseOrderRequired.value}}

    {{!-- Check if purchase order threshold exists --}}
    {{#if gql.data.customer.attributes.purchaseOrderThreshold.value}}

        {{#if cart.sub_total.value '>=' gql.data.customer.attributes.purchaseOrderThreshold.value}}

            <section id="purchase-order-required">
                <div class="layout optimizedCheckout-contentPrimary">
                    <div style="margin-top: 2rem; padding:1rem; border:1px solid grey; background-color:rgb(255, 240, 248)">
                        <h3 style="margin-bottom: 1rem;">Purchase Order Required</h3>
                        <p>Your cart sub total ({{cart.sub_total.value}}) is above your purchase order threshold of ${{gql.data.customer.attributes.purchaseOrderThreshold.value}}.</p>

                        {{> components/medical-inc/purchase-order-form }}

                    </div>
                </div>
            </section>
        {{/if}}

    {{else}}
        {{!-- Purchase order is required and no threshold exists --}}
        <section id="purchase-order-required">
                <div class="layout optimizedCheckout-contentPrimary">
                    <div style="margin-top: 2rem; padding:1rem; border:1px solid grey; background-color:rgb(255, 240, 248)">
                        <h3 style="margin-bottom: 1rem;">Purchase Order Required</h3>
                        <p>Your customer account requires a purchas order no. for all purchases.</p>

                        {{> components/medical-inc/purchase-order-form }}

                    </div>
                </div>
            </section>
    {{/if}}
{{/if}}