<form action="#" id="purchase-order-form">
    <p>Please enter your purchase order reference:</p>
    <p>
        <label for="purchase-order-no">
            <span>Purchase order no.</span><br>
            <input type="text" id="purchase-order-no" name="purchase-order-no" placeholder="Enter PO number or reference" autocomplete="off" maxlength="2000" class="form-input">
        </label>
    </p>
    <p>
        <button id="purchase-order-form-submit" class="button button--primary optimizedCheckout-buttonPrimary">Update purchase order</button>
    </p>
</form>
{{!-- Loading Checkout JS SDK via CDN  --}}
<script type="text/javascript" src="https://checkout-sdk.bigcommerce.com/v1/loader.js"></script>

{{!-- 
    We're not utilising the typical Stencil JS module/initialisation pattern here as a means
    to avoid loading unneccesary theme bundle JS. To explore alternative methods for adding JS
    to Stencil pages see: https://developer.bigcommerce.com/stencil-docs/ZG9jOjEyNDYyOTg-adding-javascript

    The only  JS dependencies & DOM we're relying on are loaded above or via the jsContext in checkout.html
--}}
<script>
    // load checkout
    // get default PO value (if it exists)
    // set event handlers on form submit.

    // Wrapping the contents in an async IIFE so we can use the await syntax for our checkout-sdk calls
    (async(jsContext) => {
        // setup form DOM and submit event
        const form = document.getElementById('purchase-order-form');
        form.addEventListener('submit', purchaseOrderSubmit);

        // load checkout
        const checkoutModule = await checkoutKitLoader.load('checkout-sdk');
        const checkoutService = await checkoutModule.createCheckoutService();
        const checkoutState = await checkoutService.loadCheckout(jsContext.cartId);

        // load default PO value
        const checkoutData = await checkoutState.data.getCheckout();
        form.elements['purchase-order-no'].value = checkoutData.customerMessage;

        //TODO: improve error handling and UI updates etc
        async function purchaseOrderSubmit(e) {
            e.preventDefault();
            form.elements['purchase-order-form-submit'].disabled = true;
            form.elements['purchase-order-form-submit'].childNodes[0].nodeValue = 'Updating ...';
            
            // TODO: improve form submission handling
            let updateCustomerMessage = await checkoutService.updateCheckout({
                customerMessage: form.elements['purchase-order-no'].value
            });

            // if update was successful, revert button state back to enabled etc
            form.elements['purchase-order-form-submit'].disabled = false;
            form.elements['purchase-order-form-submit'].childNodes[0].nodeValue = 'Update purchase order';
        }
    })(jsContext);
</script>