<form action="#" id="purchase-order-form">
    <p>Please enter your purchase order reference:</p>
    <p>
        <label for="purchase-order-no">
            <span>Purchase order no.</span><br>
            <input type="text" id="purchase-order-no" name="purchase-order-no" placeholder="Enter PO number or reference" autocomplete="off" maxlength="2000" class="form-input">
        </label>
    </p>
    <p>
        <button class="button button--primary optimizedCheckout-buttonPrimary">Update purchase order info</button>
    </p>
</form>